@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?r0e8mz');
  src:  url('fonts/icomoon.eot?r0e8mz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?r0e8mz') format('truetype'),
    url('fonts/icomoon.woff?r0e8mz') format('woff'),
    url('fonts/icomoon.svg?r0e8mz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lock:before {
  content: "\e897";
}
.icon-person:before {
  content: "\e7fd";
}
