            #div-cont{
                width: 100%;
                height: 70px;
                border: 0px;        
                margin: 0px;
                background: #FBF8EF;
                padding:  0px;
                float: left;
                clear: both;
                position: fixed;   
            }
          #div1 {
            
                width:20%;
                height: 70px;
                border: 0px;
                   
                margin:0px;
                padding: 0px;
                background:  #E6FAF6;
                float: left;
                clear: both;              
            }
            #div2 {
            
                width:60%;
                height: 70px;
              text-align: center;
                border: 0px;
                float: left;
                margin: 0px;
                padding: 0px;
                background:  #E6FAF6;
            }
            #div3 {         
                width:20%;
                height: 70px;
               
                border: 0px;
                float: left;
                margin: 0px;
                padding: 0px;
                background:  #E6FAF6;
            }
        #btnback{
            width: 250px;
            height: 50px;
            background: #96C4FD;   
            position: relative;
            top: 10px; 
            border-radius: 5px;        
        }
         #imgBack{
            float: left;
            width: 40px;
            height: 40px;
            margin-top: -4px;
           
        }
        #imgBack:hover{
            cursor: pointer;
        }      
        #frback{
            color: #000;
            
            padding-right: 7px;
            
            font-size: 20px;
            
            text-align: right; 
            background-color: ;
            width: 100px;
            height: 30px;
            float: left;
            text-decoration: none;
            margin-top: 0px;            
        }
        
        #btnstart{
            background-color: rgba(15, 162, 0, 0.84);
            width: 286.67px;
            height: 60px;
            color: #FFFFFF;
            font-family: Bree Serif;
            font-size: 35px;
            font-weight: 400;
            line-height: 45px;
            text-align: center;
            border: none;
            border-radius: 5px;
        }
        #btnstart:hover {cursor: pointer;}
        #divStart{
            margin-top: 5px;
        }  
           #btnranking{
                background-image: url(imagenes/blob);
                background-repeat: no-repeat;
                background-size: contain;
                background-color: transparent;
                width: 50px;
                height: 50px;
                line-height: 30px;
                text-align: center;
                color: #000000;
                float: right;
                border: none;
                margin-top: 7px;
            }
            #btnranking:hover {cursor: pointer;}         
            #btnperfil{
                background-image: url(imagenes/profile_113589.png);
                background-repeat: no-repeat;
                background-size: contain;
                width: 55px;
                height: 55px;
                text-align: center;
                color: #000000;
                background-position: center;
                background-color: #EEEEEE;
                border-radius: 30px;
                float: right;
                border: none;
                margin-left: 20px;
                margin-right: 5px;
                margin-top: 7px;
            }
            #btnperfil:hover {cursor: pointer;}    
        #frmateria{
            background-color: ;
            width: 100%;
            height: 75px;
            color: white;
            font-family: Bree Serif;
            font-size: 50px;
            font-weight: 400;
            line-height: 65px;
            text-align: center;
            margin-top: 5px;
            clear: both;
        }
        #contenedor-cuerpo{
            margin-left: 3%;
            margin-top: -10px;
            clear: both;
        }
        #div-cuerpo {
            
            border: 2px solid;
            border-color: #5D5D5D;
            width: 99%;
            text-align: center;
            margin-top: 10px;
            display: inline-block; 
            background: #fff;
            padding-bottom: 50px;    
        }
        .textos {
            display: inline-block;
            text-align: center;
            align-items: center;
            width: 80%;
            background: #E1E3E6;
        }
        .titulos {
            display: inline-block;
            text-align: center;
            width: 90%;
            background: #E1E3E6;
            font-size: 25px;
            font-family: calibri;
            padding: 15px;
            padding-top: 35px;
            font-weight: bold;
            
                   }
        .p-bold{font-weight: bold;}
        .cuerpo-textos{

            text-align: justify;
            width: 90%;
            font-size: 20px;
            font-family: calibri;
            
            background: #E1E3E6;
            display: inline-block;
            padding: 15px;
            padding-bottom: 5px;
        }
        .citas{
            text-align: right;
            font-style: italic;
            padding: 30px;
        }
        .pregunta{
            border:0px solid;
            width: 85%;
           height: auto;
            display: inline-block;
            margin-top: 40px;
            text-align: left;
            padding: 10px;

        }
  
        .numero-padre{
            width: 100%;
            background: #fff;
            color: white;
            text-align: center;
            margin-bottom: -15px;


           
        }
        .numero-hijo{
            font-size: 25PX;
            font-family: calibri;
            color: black;

        }
        .pregunta-padre {
            float: left;
            width: 96.4%;
            height: 100%;
            
        }
        .contenido-pregunta{
            
           float: left;
            width: 97%;
            height: auto;
            background: #0c58a9;
            color: white;
            margin: 0px;
            padding: 0px;
            font-family: calibri;
            font-size: 18px;
            border: 0px;
            padding-left: 3%;
            padding-top: 5px;
            padding-bottom: 5px;
            margin-bottom: 10px;
            border-radius: 10px;
            

        }

        .contenedor-respuestas-izq{
            width: 49%;
            height: auto;
            float: left;
             margin: 0px;
             margin-top: 9px;
            padding: 0px;
            border: 0px;

        }
            .contenedor-respuestas-der{
            width: 49%;
            height: auto;
            float: right;
             margin: 0px;
             margin-top: 9px;
            padding: 0px;
            border: 0px;    
        }
          .literal-padre{
            background: #E1E3E6;
            float: left;
            height: 45px;
            width: 7%;
             margin: 0px;
            padding: 0px;
            border: 0px;
            margin-right: 5px;
            border-radius: 10px;
       }
        .literal-padre-correcta{
            background: #c8ffb2;
            float: left;
            height: 45px;
            width: 7%;
             margin: 0px;
            padding: 0px;
            border: 0px;
            margin-right: 5px;
            border-radius: 10px;
       }
        .literal-hijo{
            top: 10%;
            font-size: 25PX;
            text-align: center;
            font-family: calibri;

        }

        .opcion-respuesta{
            float: left;
            width: 80%;
            height: auto;
            background: #E1E3E6;
            margin: 0px;
            padding: 0px;
            border: 0px;
            padding-left: 2%;
            padding-top: 5px;
            padding-bottom: 5px;
            border-radius: 10px;

        }
        .opcion-correcta{
            float: left;
            width: 80%;
            height: auto;
            background: #c8ffb2;
            margin: 0px;
            padding: 0px;
            border: 0px;
            padding-left: 2%;
            padding-top: 5px;
            padding-bottom: 5px;
            border-radius: 10px;
        }
.imagen {
    float: left;
    width: 50%;
    height: auto;
}

.contenedor-texto {
    float: left;
    width: 50%;
    height: auto;
}

#autor {
    text-align: right;
    font-family: italic;
    font-size: 12px;
}

.citas-1 {
    text-align: left;
    font-family: italic;
    font-size: 15px;
}

#imgpregunta6 {
    width: 100%;
    height: 300px;
}

.cuerpo-textos h3 {
    text-align: center;
}

#imgpreguntas11-12 {
    display: block;
    margin: auto;
}

.opcion-respuesta-1 {
    float: left;
    width: 89%;
    height: 70px;
    background: #E1E3E6;
    margin: 0px;
    padding: 0px;
    border: 0px;
    padding-left: 2%;
    padding-top: 5px;
}

.opcion-correcta-1 {
    float: left;
    width: 89%;
    height: 70px;
    background: #77D353;
    margin: 0px;
    padding: 0px;
    border: 0px;
    padding-left: 2%;
    padding-top: 5px;
}

#imgpregunta18_lenguaje {
    width: 600px;
    height: 400px;
    display: block;
    margin: auto;
}

.opcion-correcta-2 {
    float: left;
            width: 89%;
            height: auto;
            background: #77D353;
            margin: 0px;
            padding: 0px;
            border: 0px;
            padding-left: 2%;
            padding-top: 5px;
}

.opcion-respuesta-2 {
    float: left;
            width: 89%;
            height: auto;
            background: #E1E3E6;
            margin: 0px;
            padding: 0px;
            border: 0px;
            padding-left: 2%;
            padding-top: 5px;
}

#imgpregunta8_opcion{
    width: 250px;
}
#imgpregunta22_matematica{
    width: 600px;
}
#imgtabla_matematica{
    width: 600px;
}

#contenedor-lenguaje{
    display: inline-block;
    background: ;
    width: 65%;
    float: left;
}


