body {
    padding: 0px;
    background-color: #e9ecef;
    margin: 0px;
    border: 0px;
}

#div-cont{
    width: 100%;
    height: 45px;
    border: 0px;        
    margin: 0px;
    background: #E6FAF6;
    padding:  0px;
    float: left;
    clear: both;
    position: fixed;   
}

#div1 {
    width:20%;
    height: 45px;
    border: 0px;
                       
    margin:0px;
    padding: 0px;
    background:  #E6FAF6;
    float: left;
    clear: both;              
}
#div2 {
    
    width:60%;
    height: 45px;
    text-align: center;
    border: 0px;
    float: left;
    margin: 0px;
    padding: 0px;
    background:  #E6FAF6;
}
#div3 {         
    width:20%;
    height: 45px;
                   
    border: 0px;
    float: left;
    margin: 0px;
    padding: 0px;
    background:  #E6FAF6;
}
#btnback{
    font-family: calibri;
    width: 350px;
    height: 35px; 
    position: relative;
    top: 4px; 
    border-radius: 5px;        
}

#btnstart{
    background-color: rgba(15, 162, 0, 0.84);
    width: 186.67px;
    height: 35px;
    color: #FFFFFF;
    font-family: Bree Serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    border: none;
    border-radius: 5px;
}
#btnstart:hover {cursor: pointer;}
#divStart{
    float: right;
    padding-right: 10px;
    margin-top: 5px;
}  
#btnranking{
    background-image: url(imagenes/blob);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    width: 50px;
    height: 50px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    float: right;
    border: none;
    margin-top: 7px;
}   
#btnranking:hover {cursor: pointer;}    

#btnperfil{
    background-image: url(imagenes/csonriente.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 55px;
    height: 55px;
    text-align: center;
    color: #000000;
    background-position: center;
    background-color: #EEEEEE;
    border-radius: 30px;
    float: right;
    border: none;
    margin-left: 20px;
    margin-right: 5px;
    margin-top: 7px;
}

#btnperfil:hover {cursor: pointer;} 


    #frmateria{
            background-color: rgba(255, 168, 120, 0.74);
            width: 100%;
            height: 75px;
            color: #47525E;
            font-family: Bree Serif;
            font-size: 50px;
            font-weight: 400;
            line-height: 65px;
            text-align: center;
            margin-top: 5px;
            clear: both;
        }


/*-----------Barra----------------*/

#cols{
    margin: 0;
    padding: 0;
    display: inline-block;
    background: #0c58a9;
    height: 60px;
    border-bottom: 1px solid;
    border-bottom-color: #000;
    position: fixed;

}

#col-img{
    margin: 0;
    padding: 0;
    height: 55px;
    display: inline-block;
    width: 20%;

    
}


#col-saludo{
    margin: 0;
    margin-left: 50px;
    padding: 0;
    display: inline-block;
    text-align: center;
height: 55px;
width: 59%;
    
    
}


#col-btns{
    display: inline-block;
    text-align: right;
    width: 20%;
    padding-right: 2%;
    margin-top: 20px;

}
#col-btns a {
    color:black;
}

#col-btns .btn-primary{
    margin-top: -10px;
    background-color: #fff;
    border-color: #383d41;
}
#col-btns .btn-primary:hover{
    
    background-color: #7c838a;
    border-color: #7c838a
}
/*----------Barra-----------*/           



#clock {
  color: white;
  font-size: 20px;
  text-align: center;
  margin: 0px;
}

#contenedor-respuestas{
    display: inline-block;
    width: 34%;
    height: 580px;
    background: #fff;
    float: left;
    border: 1px solid;
    border-color: #5D5D5D;
    position: fixed;
    overflow: auto;
    

}

#contenedor-respuestas .col-12 {
    width: 96%;
    height: 40px;
    background: #E1E3E6;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 6px;
    border-radius: 5px;
   
}
#lbl-respuestas{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.numero-respuesta{
    display: inline-block;
    
}

/*Radios*/
.radio-respuestas{
    display: inline-block;
    margin-left: 30px;

}
.frm-respuesta > div {
    padding: 7px 0;
    
}

 .frm-respuesta .radio-respuestas label {
    display: inline-block;
    cursor: pointer;
    color: #0074d9;
    position: relative;
    padding: 2px 30px 2px 40px;
    font-size: 1em;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }

    .frm-respuesta .radio-respuestas label:hover {
      background: rgba(0, 116, 217, 0.3); }

  .frm-respuesta .radio-respuestas label:before {
      content: "";
      display: inline-block;
      width: 17px;
      height: 17px;
      position: absolute;
      left: 15px;
      top: 6px;
      border-radius: 50%;
      background: none;
      border: 3px solid #0074d9; }

    .frm-respuesta input[type="radio"] {
    display: none; }

    .frm-respuesta input[type="radio"]:checked + label:before {
      display: none; } 

    .frm-respuesta input[type="radio"]:checked + label {
      padding: 2px 15px;
      background: #0074d9;
      border-radius: 5px;
      color: #fff; }   

/*Radios*/

#col-img .btn-primary{
    margin-top:-10px;
    margin-left: 10px;
    background: #fff;
    border-color: #383d41;
    height: 45px;

}
#col-img .btn-primary:hover{
    background-color: #7c838a;
    border-color: #7c838a
}
#btn-finalizar{
    display: inline-block;
    margin-top: -8px;
    margin-right: -65px;
    width: 160px;

   
}

