  #imgBack{
            float: left;
            width: 40px;
            height: 40px;
            margin-top: -4px;
           
        }
        #imgBack:hover{
            cursor: pointer;
        }      
        #frback{
            color: #000;
            
            padding-right: 7px;
            
            font-size: 20px;
            
            text-align: right; 
            background-color: ;
            width: 100px;
            height: 30px;
            float: left;
            text-decoration: none;
            margin-top: 0px;            
        }

#col-img .btn-primary{
    margin-top:-40px;
    margin-left: 10px;
    background: #fff;
    border-color: #383d41;
    height: 45px;

}
#col-img .btn-primary:hover{
    background-color: #7c838a;
    border-color: #7c838a
}


#cols{
    margin: 0;
    padding: 0;
    display: inline-block;
    background: #0c58a9;
    height: 60px;
    border-bottom: 1px solid;
    border-bottom-color: #000;

}

#col-img{
    margin: 0;
    padding: 0;
    height: 55px;
    display: inline-block;
    width: 20%;

    
}


#col-saludo{
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: center;
height: 55px;
width: 59%;    
}

h3{
    
    margin-top: 10px;
}

#col-saludo h3{
    float: left;
    margin-top: 10px;
    margin-left: 38%;
}

#col-btns{
    display: inline-block;
    text-align: right;
    width: 20%;
    padding-right: 2%;
    margin-top: 20px;

}
#col-btns a {
    color:black;
}

#col-btns .btn-primary{
    margin-top: -40px;
    background-color: #fff;
    border-color: #383d41;
}
#col-btns .btn-primary:hover{
    
    background-color: #7c838a;
    border-color: #7c838a
}

.btn-success{
    display: inline-block;
    margin-top: 35px;
    margin-left: 40%;
}



