body{
    background: #E6FAF6;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.div-cont {
    width: 100%;
    height: 70px;
    border: 0px;
                
    margin: 0px;
    background: #E6FAF6;
    padding:  0px;
    float: left;
    clear: both;
    position: fixed;
}

#div1 {
    width:20%;
    height: 70px;
    border: 0px;
                     
    margin:0px;
    padding: 0px;
    background:  #E6FAF6;
    float: left;
}

#div3 {
    width:20%;
    height: 70px;
    
    border: 0px;
    float: left;
    margin: 0px;
    padding: 0px;
    background:  #E6FAF6;
}

#div2 {
    width: 60%;
    height: 70px;
    border: 0px;
    float: left;
    
    margin: 0px;
    padding: 0px;
    font-family: cursive;
}

.nav {
    width: 100%;
    height: 100%;
    display: block;
    margin-top: 10px;
}

ul, ol {
    list-style: none;
    border-radius: 5px;
}

.nav li a:hover{
    background-color: #13CE66;
}

.nav li a{
    background-color: #C8FFB2;
    color: #000000;
    text-decoration: none;
    padding: 10px 10px;
    display: block;
    font-size: 19px;
}

.nav > li {
    float: left;
    width: 150px;
    height: 53px;
    text-align: center;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 200px;
}
            
.navli:hover >ul {
    display: block;
}
    
#btnback {
    width: 250px;
    height: 50px;
    background: #96C4FD;   
    position: relative;
    top: 10px; 
    border-radius: 5px;
}

.frback {
    color: #FFFFFF;
    padding: 5px;
    padding-right: 7px;
    font-family: cursive;
    font-size: 25px;
    font-weight: 400;
    text-align: right; 
    background-color: #96C4FD;
    width: 100px;
    height: 39px;
    float: left;
    text-decoration: none;
}

#imgback {
    background-image: url(imagenes/back.png);
    width: 70px;
    height: 45px;
    margin-left: 30px;
    position: relative;
    top: 4px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    float: left;
}

#imgback:hover {
    cursor: pointer;
}

#btnperfil {
    background-image: url(imagenes/csonriente.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 65px;
    height: 65px;
    text-align: center;
    color: #000000;
    background-position: center;
    background-color: #FFFFFF;
    border-radius: 30px;
    float: right;
}

#btnperfil:hover {
    cursor: pointer;
}

#btnrank {
    background-image: url(imagenes/blob);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    width: 50px;
    height: 50px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    float: right;
    border: none;
    margin-top: 7px;
}

#btnrank:hover {
    cursor: pointer;
}

#line {
    border-style: double;
}

.main {
    width: 100%;
    height: 500px;
    border: 0px;
                
    margin-top: 75px;
    padding:  0px;
    float: left;
    clear: both;
    position: fixed;
}

.primeros_tres {
    width:60%;
    height: 400px;
    border: 0px;
                     
    margin:0px;
    padding: 0px;
    background:  #E6FAF6;
    float: left;
    display: block;
}

.rank-body {
    width:40%;
    height: 200px;
    border: 0px;
                     
    margin:0px;
    padding: 0px;
    background:  #E6FAF6;
    float: left;
}

#tercero {
    width: 20%;
    height: 200px;
    display: block;
    margin-left: 20px;
    margin-right: 1px;
    margin-top: 118px;
    padding: 0px;
    float: left;
}

#segundo {
    width: 20%;
    height: 200px;
    display: block;
    vertical-align: bottom;
    margin-right: 1px;
    margin-top: 60px;
    padding: 0px;
    float: left;
    vertical-align: bottom;
}

#primero {
    width: 20%;
    height: 200px;
    display: block;
    margin-left: 0px;
    margin-top: 10px;
    padding: 0px;
    float: left;
}

#imgperfil {
    width: 100%;
    height: 95px;
    border-radius: 5px;
    vertical-align: bottom;
}

#imgtercero {
    width: 100%;
    height: 200px;
    vertical-align: bottom;
}

#lbluser {
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: white;
    font-family: sans-serif;
    font-size: 20px;
    display: block;
    margin: auto;
}

#lbluser3 {
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: white;
    font-family: sans-serif;
    font-size: 20px;
    display: block;
    margin: auto;
}

#imgsegundo {
    width: 100%;
    height: 250px;
}

#imgperfil1 {
    width: 100%;
    height: 95px;
    border-radius: 5px;
}

#lbluser2 {
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: white;
    font-family: sans-serif;
    font-size: 20px;
    display: block;
    margin: auto;
}

#imgperfil2 {
    width: 100%;
    height: 95px;
    border-radius: 5px;
}

#imgprimero {
    width: 100%;
    height: 300px;
}

#div-posicion {
    background-color: #FFFFFF;
    width: 400px;
    height: 34px;
    float: left;
    margin: 0px;
}

#rank {
    background-color: #E1E3E6;
    width: 400px;
    height: 439px;
    float: left;
}

#lblpos {
    width: 100px;
    height: 20px;
    color: black;
    font-family: cursive;
    font-size: 15px;
    text-align: left;
    float: left;
    margin: 0px;
}
