#sepaes2
{
	height: 45px;
	width: auto;
	margin-left: 20px;
	text-align: right;
}

#homee{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 5px;
    background: url(imagenes/imagen1.png);
    background-size: cover;
    box-shadow: 5px 5px 5px #000;
}
#homee:hover{
box-shadow: 0 1px 1px #000;
}

#cols{
	margin: 0;
	padding: 0;
	display: inline-block;
	background: #0c58a9;
	height: 60px;
	border-bottom: 1px solid;
	border-bottom-color: #000;
    position: absolute;
}

#col-img{
	margin: 0;
	padding: 0;
	height: 55px;
	display: inline-block;
	width: 20%;
}


#col-saludo{
	margin: 0;
	padding: 0;
	display: inline-block;
	text-align: center;
height: 55px;
width: 59%;
padding-top: 20px;	
}

#col-saludo h3 {
	float: left;
	margin-top: -15px;
	margin-left: 38%;
}

h3{
	
	margin-top: 10px;
}

#col-btns{
	display: inline-block;
	text-align: right;
	width: 20%;
	padding-right: 2%;
	margin-top: 5px;

}
#col-btns a {
	color:black;
}

#col-btns .btn-primary{
	margin-top: -10px;
	background-color: #fff;
	border-color: #383d41;
}
#col-btns .btn-primary:hover{
	
	background-color: #7c838a;
	border-color: #7c838a
}





#title-welcome {
    color: white;
    display: inline-block;
    margin-left: 30%;
}

#cont-principal {
    
}

#sepaes2-1 {
    height: 45px;
	width: auto;
	margin-left: 20px;
	margin-top: 5px;
	text-align: right;
}

#lbl {
    display: inline-block;
    margin-left: 15%;
}

#textbox {
    display: inline-block;
    margin-left: 15%;
}

#btn-signup {
    display: inline-block;
    margin-left: 50%;
}

#btn-signup1 {
    display: inline-block;
    margin-left: 30%;
}

#lbl-user {
    display: inline-block;
    margin-left: 30%;
}

#lbl-user1 {
    display: inline-block;
    margin-left: 25%;
}
