#imgsepaes{
                width: 350px;
                height: auto;
                margin: auto;
                display: block;
            }

            #div1 {
            
                width:20%;
                height: 100px;
                float: left;
            }
            #div2 {
            
                width:60%;
                height: auto;
                float: left;
            }
            #div3 {
            
                width:20%;
                height: 100px;
                float: left;
            }
            
            #btnranking{
                background-image: url(imagenes/blob);
                background-repeat: no-repeat;
                background-size: contain;
                background-color: transparent;
                width: 60px;
                height: 60px;
                line-height: 30px;
                text-align: center;
                color: #000000;
                float: right;
                border: none;
            }
            
            #btnperfil{
                background-image: url(imagenes/csonriente.png);
                background-repeat: no-repeat;
                background-size: contain;
                width: 65px;
                height: 65px;
                text-align: center;
                color: #000000;
                background-position: center;
                background-color: #EEEEEE;
                border-radius: 30px;
                float: right;
                border: none;
                margin-left: 20px;
                margin-right: 5px;
            }
            
            
            
            #frlen{              
                background-image: url(imagenes/lenguaje1.png);
                background-repeat: no-repeat;
                background-size: contain; 
                width: 273.97px;
                height: 199.48px;
            }
            
            #btnlen{
                background-color: rgba(150, 159, 170, 0.84);
                color: #000000;
                font-family: Chewy;
                font-size: 26px;
                font-weight: 400;
                text-align: left;
                width: 174px;
                height: 32px;
                float: left;
                margin-top: 150px;
                margin-left: 2px;
            }
             
            #frmat{
                background-image: url(imagenes/matematicas.png);
                background-repeat: no-repeat;
                background-size: contain;
                background-color: beige;
                width: 273.97px;
                height: 199.48px;
            }
            
            #btnmat{
                background-color: rgba(150, 159, 170, 0.84);
                color: #000000;
                font-family: Chewy;
                font-size: 26px;
                font-weight: 400;
                text-align: left;
                width: 174px;
                height: 32px;
                float: left;
                margin-top: 150px;
                margin-left: 2px;
            }
             
            
            #btnes{
                background-color: rgba(150, 159, 170, 0.84);
                color: #FFFFFF;
                font-family: Chewy;
                font-size: 26px;
                font-weight: 400px;
                text-align: left;
                width: 174px;
                height: 32px;
                float: left;
                margin-top: 150px;
                margin-left: 2px;
            }
            
            #fres{
                background-image: url(imagenes/ss1.png);
                background-repeat: no-repeat;
                background-size: contain;
                width: 275px;
                height: 199.48px;
            }
            
            #btncc{
                background-color: rgba(150, 159, 170, 0.84);
                color: #FFFFFF;
                font-family: Chewy;
                font-size: 26px;
                font-weight: 400;
                text-align: left;
                float: left;
                margin-top: 150px;
                margin-left: 2px;
            }
            
            
            #frcc{
                background-image: url(imagenes/cc1.png);
                background-repeat: no-repeat;
                background-size: contain;
                width: 273.97px;
                height: 199.48px;
            }
            
            .container{
                margin: 20px auto;
                display:grid;
                grid-template-columns: 274px 274px;
                grid-row: auto auto;
                justify-content: center;
                clear: both;
            }
 
            .box{
                padding: 2px;
                display:flex;
            }
            .box:hover {cursor: pointer;}