* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
    list-style: none;
}

body{
    background-color: gainsboro;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

 .cont-barra {
    background: #0C58A9;
	height: 70px;
	width: 100%;
	position: fixed;
	display: inline-block;
	align-items: center;
	display: flex;
	line-height: 35px;
    list-style: none;
}

.cont-img {
	height: 50px;
	width: 30%;
	align-items: center;
	line-height: 25px;
}

.logo {
	width: 60%;
	height: 40px;
    align-items: flex-start;
}

i {
    width: 30px;
    height: 30px;
    padding: 2px;
    color: black;
}

.logo:hover i {
    color: white;
}

#frBack:hover {
    background: #FFFFFF;
    color: #262626;
    text-decoration: none;
    left: 10px;
}

.cont-hi {
	width: 40%;
	height: 50px;
	text-align: center;
	vertical-align: center;
}

.cont-hi h4 {
    font-size: 40px;
    color: white;
}

.cont-slideMenu {
	width: 30%;
	height: 50px;
	font-size: 30px;
	color: #fff;
	float: right;
    list-style: none;
}

#btn-menu {
	display: none;
}

.slideMenu {
	position: absolute;
	top: 50px;
	right: 20px;
	list-style: none;
	background: #262626;
	color: #fff;
	transform: translateY(-150%);
	transition: 0.3s;
    list-style: none;
}

#btn-menu:checked ~ .slideMenu {
	transform: translateY(0%);
}

.slideMenu ul {
	display: block;
}

.slideMenu a {
	text-decoration: none;
	cursor: pointer;
	color: #D2D8DE;
}

.slideMenu a:hover {
	color: #fff;
}

.cont-slideMenu label:hover {
	cursor: pointer;
	background: rgba(0,0,0,0.3);
}

.slideMenu span {
	margin-left: 5px;
}

.cont-btn {
    width: 90%;
    top: 80px;
	height: 500px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	vertical-align: center;
	position: relative;
}

.wrapper fieldset {
    width: 99%;
    height: auto;
    border: 0px;
    border-style: solid;
    margin-left: 0.4%;
    border-radius: 5px;
    color: white;
    background: #0c58a9;
    padding:  0px;
    float: left;
    clear: both;
    
}

#imgresult {
    width: 326px;
    height: 311.55px;
    margin-top: 70px;
}

.sugerencias {
    width: 30%;
    height: auto;
    margin-left: 30px;
    padding: 10px;
    float: left;
}

.material_recomendado {
    width: 30%;
    height: auto;
    margin: 0px;
    padding: 10px;
    float: left;
}

.temas_mejorar {
    width: 33.33%;
    height: auto;
    margin: 0px;
    padding: 10px;
    float: left;
}

.main {
    padding: 2px;
    margin: 2px;
}

.wrapper {
    width: 100%;
    height: 130px;
}

#div-result{
    width: 60%;
    float: left;
    height: 100px;
    text-align: center;
    font-size: 150px;
    color: #6b6b6b;
    padding-top: 150px;
    padding-bottom: 300px;
    font-weight: bold;
}

cont-respuestas {
    top: 50px;
    font-size: 20px;
}
#col-saludo h1{
    color: white;
}

.cont-respuestas{
    width: 30%;
    float: right;
}

.cont-results {
    top: 50px;
    height: auto;
    width: 100%;
}