@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?otit9x');
  src:  url('fonts/icomoon.eot?otit9x#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?otit9x') format('truetype'),
    url('fonts/icomoon.woff?otit9x') format('woff'),
    url('fonts/icomoon.svg?otit9x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up2:before {
  content: "\ea3a";
}
