body{
    margin: 0;
    padding: 0;
    background-color: beige;
}

.cont-barra {
    background: #0C58A9;
    height: 70px;
    width: 100%;
    position: fixed;
    display: inline-block;
    align-items: center;
    display: flex;
    line-height: 35px;
}

.cont-img {
    height: 50px;
    width: 30%;
    align-items: center;
    line-height: 25px;
}

.logo {
    width: 40%;
    height: 40px;
    align-items: flex-start;
}

.cont-hi {
    width: 40%;
    height: 50px;
    text-align: center;
    vertical-align: center;
}

.cont-btn {
    width: 10%;
    height: 500px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    vertical-align: center;
    position: relative;
    float: right;
}

.finder{
    width: 50%;
    height: 50px;
    display: inline-block;
}

.search-box{
    position: absolute;
    left: 20%;
    top: 12%;
    transform: translate(-30%);
    background: transparent;
    height: 55px;
    width: 650px;
    border-radius: 5px;
    background: #E8EAFC;
    border-color: #030E66;
    border-style: solid;
    padding: 10px;
}

.search-btn{
    color: blue;
    float: right;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #EAEDED;
    color: #212F3C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-btn i {
    width: 80%;
    height: 30px;
    line-height: 30px;
}

.search-btn:hover {
    background: #212F3C;
    color: #EAEDED;
}

.search-box label {
    line-height: 30px;
    font-size: 20px;
    color: #000000;
    left: 40px;
}

.search-txt{
    background: #FFFFFF;
    outline: none;
    color: #000000;
    font-size: 16px;
    transition: 0.4s;
    line-height: 30px;
    width: 500px;
}