body{
	background: #CDF1FF;
	  
	background: url(imagenes/login/paes.jpg) no-repeat center center fixed;
	background-size: cover;
	
}

            #imgsepaes{
                width: 229.77px;
                height: 89px;
                margin-top: 40px;
                margin-bottom: -20px; 
                margin-left: -45px;   
            }
            
            #imgflowtec{
                width: 100px;
                height: 120px;
                margin-bottom: -30px;
                margin-right: 10%;
                margin-top: 20px;
              
            }

            #logo-sepaes{
             display: inline-block;  
             text-align: center;
             }
             #logo-flowing{
             display: inline-block;
             text-align: right;
             
                }


.user-img{
	margin-top: -70px;
	margin-bottom: 35px;
	margin-left: -10px;
}

.user-img img {
	width: 270px;
	height: 150px;
	/*border-radius: 50%;
	box-shadow: 0 0 3px #848484;
	*/
}

.main-section{
	margin: 0 auto;
	margin-top: 25%;
	padding: 0;
}

.modal-content{
	background-color: #3b4652;
	opacity: .80;
	padding: 0 20px;
	box-shadow: 0 0 3px #848484;
}

.form-group input {
	height: 42px;
	font-size: 18px;
	border: 0;
	padding-left: 54px;
	border-radius: 5px;
}

#img-entrar{
	height: 23px;
	width: 23px;
	margin-right: 5px;
	margin-bottom: 2px;
}


    
.form-group::before{
	font-family: "icomoon";
	position: absolute;
	left: 28px;
	font-size: 22px;
	padding-top: 4px;
}

.form-group#user-group::before{
	content: "\e7fd";
}
.form-group#pass-group::before{
content: "\e897";
}
.form-group#pass-group{
	margin-bottom: 30px;
}
#copi{
	margin-top: 25px;
	color: #dac3c3;
}

#copi img{
	height: 40px;
	width: 35px;
	margin-top: -10px;
}
#notis{
	text-align: center;
	display: inline-block;
}
#noti-no-user{
	width: 30%;
	display: inline-block;
}



