#sepaes2
{
	height: 45px;
	width: auto;
	margin-left: 20px;
	text-align: right;
}

#homee{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 5px;
    background: url(imagenes/imagen1.png);
    background-size: cover;
    box-shadow: 5px 5px 5px #000;
}
#homee:hover{
box-shadow: 0 1px 1px #000;
}

#cols{
	margin: 0;
	padding: 0;
	display: inline-block;
	background: #0c58a9;
	height: 60px;
	border-bottom: 1px solid;
	border-bottom-color: #000;
    position: absolute;
}

#col-img{
	padding: 0;
	height: 55px;
	display: inline-block;
	width: 20%;
}


#col-saludo{
	padding: 0;
	display: inline-block;
	text-align: center;
height: 55px;
width: 59%;
}

#col-saludo h3 {
	float: left;
	margin-top: -15px;
	margin-left: 38%;
}

h3{
	
	margin-top: 10px;
}

#col-btns{
	display: inline-block;
	text-align: right;
	width: 20%;
	padding-right: 2%;
	margin-top: 5px;

}
#col-btns a {
	color:black;
}

#col-btns .btn-primary{
	margin-top: -10px;
	background-color: #fff;
	border-color: #383d41;
}
#col-btns .btn-primary:hover{
	
	background-color: #7c838a;
	border-color: #7c838a
}





#title-welcome {
    color: white;
    display: inline-block;
    margin-left: 30%;
}

#cont-principal {
    
}

#sepaes2-1 {
    height: 45px;
	width: auto;
	margin-left: 20px;
	margin-top: 5px;
	text-align: right;
}

#lbl {
    display: inline-block;
    margin-left: 15%;
}

#textbox {
    display: inline-block;
    margin-left: 15%;
}

#btn-signup {
    display: inline-block;
    margin-left: 50%;
}

#btn-signup1 {
    display: inline-block;
    margin-left: 30%;
}

#lbl-user {
    display: inline-block;
    margin-left: 30%;
}

#lbl-user1 {
    display: inline-block;
    margin-left: 25%;
}



/*menu desplegable*/
 
            .menu{
                position: absolute;
                top: 55px;
                right: 145px;
                display: none;
                color: white;
                transition: 0.6s;
            }
            
            .menu ul li a{
                background-color: #E6E6E6;
                text-align: center;
            }
            
            .menu ul {
                list-style: none;
                position: absolute;
                max-height: 0;
            }
            
            #btnmenu{
                display: none;
            }
            
            .menu li a:hover{
                background-color: #848484;
                color: black;
            }
            
            .menu li a{
                text-decoration: none;
                padding: 10px 15px;
                display: block;
            }
            
            #btnmenu:checked ~ .menu{
                display: block;
            }


/*menu materias*/
            #imgsepaes{
                width: 350px;
                height: auto;
                margin: auto;
                display: block;
            }

            #div1 {
            
                width:20%;
                height: 100px;
                float: left;
            }
            #div2 {
            
                width:60%;
                height: auto;
                float: left;
            }
            #div3 {
            
                width:20%;
                height: 100px;
                float: left;
            }

              #div4 {
            
                width:20%;
                height: 100px;
                float: right;
            }
            
            #btnranking{
                background-image: url(imagenes/blob.png);
                background-repeat: no-repeat;
                background-size: contain;
                background-color: transparent;
                width: 60px;
                height: 60px;
                line-height: 30px;
                text-align: center;
                color: #000000;
                float: right;
                border: none;
            }
            
            #btnperfil{
                background-image: url(imagenes/csonriente.png);
                background-repeat: no-repeat;
                background-size: contain;
                width: 65px;
                height: 65px;
                text-align: center;
                color: #000000;
                background-position: center;
                background-color: #EEEEEE;
                border-radius: 30px;
                float: right;
                border: none;
                margin-left: 20px;
                margin-right: 5px;
            }
            
            
            
            #frlen{              
                background-image: url(imagenes/Lenguaje.png);
                background-repeat: no-repeat;
                background-size: contain; 
                width: 273.97px;
                height: 199.48px;
            }
            #frlen:hover {cursor: pointer;}

            
            
            #btnlen{
                background-color: ;
                color: ;
                font-family: Chewy;
                font-size: 26px;
                font-weight: 400;
                text-align: left;
                width: 174px;
                height: 32px;
                float: left;
                margin-top: 150px;
                margin-left: 2px;
            }
             
            #frmat{
                background-image: url(imagenes/Mate.png);
                background-repeat: no-repeat;
                background-size: contain;
                background-color: ;
                width: 273.97px;
                height: 199.48px;
            }
            #frmat:hover {cursor: pointer;}
            
            #btnmat{
                background-color: rgba(150, 159, 170, 0.84);
                color: #000000;
                font-family: Chewy;
                font-size: 26px;
                font-weight: 400;
                text-align: left;
                width: 174px;
                height: 32px;
                float: left;
                margin-top: 150px;
                margin-left: 2px;
            }
             
            
            #btnes{
                background-color: rgba(150, 159, 170, 0.84);
                color: #FFFFFF;
                font-family: Chewy;
                font-size: 26px;
                font-weight: 400px;
                text-align: left;
                width: 174px;
                height: 32px;
                float: left;
                margin-top: 150px;
                margin-left: 2px;
            }
            
            #fres{
                background-image: url(imagenes/es.png);
                background-repeat: no-repeat;
                background-size: contain;
                width: 270px;
                height: 140px;
                margin-left: -14px;
                margin-top: 35px;
                margin-bottom: 40px;
            }
            #fres:hover {cursor: pointer;}
            
            #btncc{
                background-color: ;
                color: #FFFFFF;
                font-family: Chewy;
                font-size: 26px;
                font-weight: 400;
                text-align: left;
                float: left;
                
                margin-top: 60px;
                margin-left: 2px;
            }
            
            
            #frcc{
                background-image: url(imagenes/cc.png);
                background-repeat: no-repeat;
                background-size: contain;
                width: 273.97px;
                height: 199.48px;
                margin-left: 10px;
            }
            #frcc:hover {cursor: pointer;}

            
            .container{
                margin: 20px auto;
                display:grid;
                grid-template-columns: 274px 274px;
                grid-row: auto auto;
                justify-content: center;
                clear: both;
            }


 
            .box{
                padding: 2px;
                display:inline-block;
            }

            #menu{
                text-align: center;
                width: 100%;
                height: auto;
            }

            .modal-content{
    background-color: #e9ecef;
    
    padding: 0 20px;
    box-shadow: 0 10px 10px #000;
    width: 260px;
    padding-top: 20px;
    display: inline-block;
    float: left;
    margin-right: 35px;
}
.modal-content:hover {
    box-shadow: 0 2px 2px #000;
}

#l{
    display: inline-block;

}
#m{
    display: inline-block;

}
#c{
    display: inline-block;
}
#e{
    display: inline-block;
}

.main-section{
    margin: 0 auto;
    display: inline-block;
    padding: 0;
    margin-right: 

}
#espacio{
    color: #fff;
    background: ;
    float: left;

}



         
