body{
    background-color: #757575;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

#homee{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 5px;
    background: url(imagenes/imagen1.png);
    background-size: cover;
    box-shadow: 5px 5px 5px #000;
}

#homee:hover{
box-shadow: 0 1px 1px #000;
}

#cols{
    margin: 0;
    padding: 0;
    display: inline-block;
    background: #0c58a9;
    height: 63px;
    border-bottom: 1px solid;
    border-bottom-color: #000;
    float: left;
    position: fixed;
    clear: both;

}

#col-img{
    margin-left: 10px;
    margin-right: -10px;
    padding: 0;
    height: 55px;
    display: inline-block;
    width: 20%;  
}

#col-img .btn-primary{
    margin-top: 7px;
    background: #fff;
    border-color: #383d41;
    height: 45px;

}

#col-img .btn-primary:hover{
    background-color: #7c838a;
    border-color: #7c838a
}


#col-saludo{
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: center;
height: 55px;
width: 59%;    
}

#col-saludo .btn-primary{
    margin-top: 5px;
    border-color: #f8f9fa;
    background: #fff;
    color: black;
}

#col-saludo .btn-primary:hover{
    background: #ccc;

}

h3{
    
    margin-top: 10px;
}

#col-btns{
    display: inline-block;
    text-align: right;
    width: 20%;
    padding-right: 2%;

}

#col-btns a {
    color:black;
}

#col-btns .btn-primary{
    margin-top: 5px;
    background-color: #fff;
    border-color: #383d41;
}

#col-btns .btn-primary:hover{
    
    background-color: #7c838a;
    border-color: #7c838a
}

#div-cont{
    width: 100%;
    height: 70px;
    border: 0px;        
    margin: 0px;
    background: #FBF8EF;
    padding:  0px;
    float: left;
    clear: both;
    position: fixed;   
}

#div1 {            
    width:20%;
    height: 70px;
    border: 0px;
                       
    margin:0px;
    padding: 0px;
    background:  #E6FAF6;
    float: left;
    clear: both;              
}

#div2 {
    width:60%;
    height: 70px;
    text-align: center;
    border: 0px;
    float: left;
    margin: 0px;
    padding: 0px;
    background:  #E6FAF6;
}

#div3 {         
    width:20%;
    height: 70px;
    
    border: 0px;
    float: left;
    margin: 0px;
    padding: 0px;
    background:  #E6FAF6;
}

#btnback{
    width: 250px;
    height: 50px;
    background: #96C4FD;   
    position: relative;
    top: 10px; 
    border-radius: 5px;        
}

#imgBack{
    float: left;
    width: 40px;
    height: 40px;
    margin-top: -4px;       
}

#imgBack:hover{
    cursor: pointer;
} 

#frback{
    color: #000;
    padding-right: 7px;
    font-size: 20px;        
    text-align: right; 
    background-color: ;
    width: 100px;
    height: 30px;
    float: left;
    text-decoration: none;
    margin-top: 0px;            
}
        
#btnstart{
    background-color: rgba(15, 162, 0, 0.84);
    width: 286.67px;
    height: 60px;
    color: #FFFFFF;
    font-family: Bree Serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    text-align: center;
    border: none;
    border-radius: 5px;
}
    
#btnstart:hover {cursor: pointer;}

#divStart{
    margin-top: 5px;
}  

#btnranking{
    background-image: url(imagenes/blob);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    width: 50px;
    height: 50px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    float: right;
    border: none;
    margin-top: 7px;
}
    
#btnranking:hover {cursor: pointer;}         

#btnperfil{
    background-image: url(imagenes/profile_113589.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 55px;
    height: 55px;
    text-align: center;
    color: #000000;
    background-position: center;
    background-color: #EEEEEE;
    border-radius: 30px;
    float: right;
    border: none;
    margin-left: 20px;
    margin-right: 5px;
    margin-top: 7px;
}

#btnperfil:hover {cursor: pointer;}

 #frmateria{
     background-color: ;
     width: 100%;
     height: 75px;
     color: white;
     font-family: Bree Serif;
     font-size: 50px;
     font-weight: 400;
     line-height: 65px;
     text-align: center;
     margin-top: 5px;
     clear: both;
}

#contenedor-cuerpo{
    text-align: left;
    clear: both;
    background-color: white;
    border-radius: 10px;
    width: 700px;
    height: auto;
    padding: 0px;
}

ul li{
    list-style: none;
    width: 100%;
    display: inline-block;
    padding: 2px;
}

ul li a{
    color: black;
}

ul li:hover{
    cursor: pointer;
    color: darkslateblue;
    background-color: snow;
}

ul li ul{
    background-color: white;
}

ul li ul:hover{
    cursor: pointer;
    background-color: darkgray;
    color: seashell;
}

ul li ul li:hover{
    cursor: pointer;
    background-color: silver;
    color: black;
}

ul li a:hover{
    cursor: pointer;
    background-color: gray;
    color: white;
}