#cols{
	margin: 0;
	padding: 0;
	display: inline-block;
	background: #0c58a9;
	height: 60px;
	border-bottom: 1px solid;
	border-bottom-color: #000;
    position: fixed;
}

#col-img{
	margin: 0;
	padding: 0;
	height: 55px;
	display: inline-block;
	width: 20%;

	
}


#col-saludo{
	margin: 0;
	padding: 0;
	display: inline-block;
	text-align: center;
height: 55px;
width: 59%;
padding-top: 20px;	
}

#col-saludo h3 {
	float: left;
	margin-top: -15px;
	margin-left: 38%;
}
#sepaes2-1 {
    height: 45px;
	width: auto;
	margin-left: 20px;
	margin-top: 5px;
	text-align: right;
}
