body {
    background: #262626;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}

.cont-barra{
    
}

.swiper-container {
    width: 100%;
    height: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 400px;
    background: #fff;
}

#first{
    width: 100%;
    background-color: gold;
}

#second{
    width: 100%;
    background-color: silver;
}

#third{
    width: 100%;
    background-color: saddlebrown;
}

.crownBox{
    width: 40%;
    height: 50px;
    display: inline-block;
}

.crownBox img{
    width: 50%;
    height: 50px;
    margin: 5px 5px;
}

.userBox{
    width: 50%;
    height: 50px;
    display: inline-block;
}


.imgBox{
    display: inline;
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
}

.noteBox{
    display: inline;
    width: 100%;
    overflow: hidden;
}