body{
	background: #d2ffde;
	background: url(../imagenes/nueva/paes.jpg) no-repeat center center fixed;
	background-size: cover;
}

.main-section {
	margin: 0 auto;
	margin-top: 25%;
	padding: 0;
}

.modal-content{
padding: 0 20px;
padding-top: 20px;
}
p{
	text-align: left;
}
#notis{
	text-align: center;
	display: inline-block;
}
#noti-no-user{
	width: 30%;
	display: inline-block;
}