* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	list-style: none;
}

body {
	background: #808B96;
}

.cont-barra {
    background: #0C58A9;
	height: 70px;
	width: 100%;
	position: fixed;
	align-items: center;
	display: flex;
	line-height: 35px;
}

.cont-img {
	height: 50px;
	width: 30%;
	align-items: center;
	line-height: 25px;
}

.logo {
	width: 60%;
	height: 40px;
    align-items: flex-start;
}

.logo i {
    width: 30px;
    height: 30px;
    color: black;
}

.logo:hover i {
    color: white;
}
.cont-hi {
	width: 40%;
	height: 50px;
	text-align: center;
	vertical-align: center;
}

.cont-slideMenu {
	width: 30%;
	height: 50px;
	font-size: 30px;
	color: #fff;
	float: right;
}

#btn-menu {
	display: none;
}

.slideMenu {
	position: absolute;
	top: 50px;
	right: 20px;
	list-style: none;
	background: #262626;
	color: #fff;
	transform: translateY(-150%);
	transition: 0.3s;
}

#btn-menu:checked ~ .slideMenu {
	transform: translateY(0%);
}

.slideMenu ul {
	display: block;
}

.slideMenu a {
	text-decoration: none;
	cursor: pointer;
	color: #D2D8DE;
}

.slideMenu a:hover {
	color: #fff;
}

.cont-slideMenu label:hover {
	cursor: pointer;
	background: rgba(0,0,0,0.3);
}

.slideMenu span {
	margin-left: 5px;
}

.cont-btn {
    width: 90%;
    top: 80px;
	height: 500px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	vertical-align: center;
	position: relative;
}

.btnU {
    left: 70px;
    margin: 20px;
    width: 30%;
    height: auto;
    display: inline-block;
    border-radius: 20px;
    background: #F2F4F5;
    border: 5px;
    border-style: solid;
    border-color: #D4D4D4;
}

.btnU:hover {
    border-style: none;
    box-shadow: 5px;
}

.imgU {
    width: 100%;
    height: 190px;
}

header {
	top: 80px;
    left: 50px;
	height: 70px;
	background: transparent;
	color: #fff;
	justify-content: flex-start;
	align-items: center;
	vertical-align: center;
	position: unset;
    display: none;
}

#btnMenu {
	display: none;
}

header label {
	font-size: 30px;
	cursor: pointer;
	display: none;
}

.menu ul {
	background: #1B6C52;
	display: block;
	list-style: none;
}

.menu ul ul {
	display: none;
}

.menu a {
	display: block;
	padding: 15px 20px;
	color: #fff;
	text-decoration: none;
}

.menu a:hover {
	background: rgba(0,0,0,0.3);
}

.menu a .img-btn {
    width: 40px;
    height: 40px;
	margin-left: 20px;
}

.menu ul li:hover ul {
	display: block;
	position: absolute;
}

@media(max-width: 800px) {
    header {
        display: inline-block;
    }
    
    .cont-btn {
        display: none;
    }
    
    header label {
		display: block;
        width: 35px;
        height: 35px;
        background-position: center;
	}

	.menu {
		position: absolute;
		top: 50px;
		left: 0;
		width: 100%;
		transform: translateX(0%);
		transition: 0.4s;
	}

	.menu ul {
		display: block;
		background: #555555;
	}

	.menu ul li:hover ul {
		display: none;
		position: static;
	}

	.menu a i {
		position: absolute;
		right: 5px;
	}
    
    .cont-hi text{
        font-size: 20px;
        display: none;
    }
}