* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	list-style: none;
}

.cont-barra {
    background: #0C58A9;
	height: 70px;
	width: 100%;
	position: fixed;
	display: inline-block;
	align-items: center;
	display: flex;
	line-height: 35px;
}

.cont-img {
	height: 50px;
	width: 30%;
	align-items: center;
	line-height: 25px;
}

.logo {
	width: 60%;
	height: 40px;
    align-items: flex-start;
}

.logo i {
    width: 30px;
    height: 30px;
    color: black;
}

.logo:hover i {
    color: white;
}

.cont-hi {
	width: 40%;
	height: 50px;
	text-align: center;
	vertical-align: center;
}

.cont-slideMenu {
	width: 30%;
	height: 50px;
	font-size: 30px;
	color: #fff;
	float: right;
}

#btn-menu {
	display: none;
}

.slideMenu {
	position: absolute;
	top: 50px;
	right: 20px;
	list-style: none;
	background: #262626;
	color: #fff;
	transform: translateY(-150%);
	transition: 0.3s;
}

#btn-menu:checked ~ .slideMenu{
	transform: translateY(0%);
}

.slideMenu ul {
	display: block;
}

.slideMenu a {
	text-decoration: none;
	cursor: pointer;
	color: #D2D8DE;
}

.slideMenu a:hover {
	color: #fff;
}

.cont-slideMenu label:hover {
	cursor: pointer;
	background: rgba(0,0,0,0.3);
}

.slideMenu span {
	margin-left: 5px;
}

.cont-btn {
    width: 90%;
    top: 80px;
	height: 500px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	vertical-align: center;
	position: relative;
}

.btnU {
    left: 70px;
    margin: 20px;
    width: 30%;
    height: auto;
    display: inline-block;
    border-radius: 20px;
    background: #F2F4F5;
    border: 5px;
    border-style: solid;
    border-color: #D4D4D4;
}

.btnU:hover {
    border-style: none;
    box-shadow: 5px;
}

.imgU {
    width: 100%;
    height: 190px;
}

.cont-text{
	position: unset;
	width: 100%;
	height: auto;
	background: #B2BABB;
}

header {
	width: 80%;
	top: 50px;
	left: 70px;
	height: auto;
	background: #F2F4F4;
	color: #FFFFFF;
	justify-content: flex-start;
	align-items: center;
	vertical-align: center;
	position: relative;
    display: none;
}

#btnMenu {
	display: none;
}

header .menu {
	width: 100%;
}

header h1 {
	color: black;
}

.menu ul {
	background: #0B5345;
	display: block;
	list-style: none;
}

.menu ul ul {
	display: none;
	position: static;
}

.menu a {
	display: block;
	padding: 15px 20px;
	color: #fff;
	text-decoration: none;
}

.menu a:hover {
	background: rgba(0,0,0,0.3);
}

.menu a .img-btn {
    width: 40px;
    height: 40px;
	margin-left: 20px;
}

.subMenu a {
	cursor: pointer;
}

.subMenu {
	text-align: center;
	font-size: 20px;
}

.subMenu ul {
	background: #F2F4F4;
	color: #000000;
	text-align: justify;
}

.subMenu ul li h1 {
	padding: 5px;
    color: darkslategray;
    text-decoration: none;
    text-align: left;
    font-family: 'verdana';
    font-size: 20px;
    margin-bottom: 30px;
    font-style: normal;
}

.subMenu ul li h3 {
	padding: 5px;
    font-family: 'verdana';
    font-size: 25px;
    color: darkslategray;
}

.subMenu h5 {
	padding: 5px;
    font-family: 'verdana';
    font-size: 20px;
    text-align: left;
    color: #17202A;
}

.subMenu h5:hover {
	cursor: pointer;
	background: #17202A;
	color: #FFFFFF;
}

.subMenu ul li h6 {
	padding: 5px;
    font-family: 'verdana';
    font-size: 19px;
    font-style: italic;
}

.subMenu ul li p {
    font-size: 18px;
    font-family: 'verdana';
    padding: 10px;
}

.subMenu .video {
	width: 560px;
	height: 315px;
	padding: 15px;
}

.ir-arriba {
	display:none;
	padding:20px;
	background:#024959;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	left:20px;
}

@media(max-width: 800px) {
	.cont-barra {
		display: none;
	}

	header{
		top: 20px;
	}
    
    .subMenu h5 {
        background: #262626;
        color: white;
    }
}